<template>
  <div class="main-header__container">
    <button
      v-if="isAuthenticated"
      class="main-header__menu-trigger"
      @click="drawer = !drawer"
    >
      <v-icon v-text="'menu'" />
    </button>

    <div class="main-header__logo__container">
      <img
        class="main-header__logo"
        :src="require('@/assets/logo.png')"
      />
    </div>

    <v-navigation-drawer
      v-if="isAuthenticated"
      :clipped="clipped"
      v-model="drawer"
      enable-resize-watcher
      app
    >
      <div class="drawer-menu__profile">
        <img src="https://www.w3schools.com/howto/img_avatar.png" />
        <h1 v-text="'Danilo Bomfim'" />
        <h2 v-text="'Very important people'" />
      </div>
      <ul class="drawer-menu__list">
        <li
          v-for="item in items"
          :key="item.action"
          @click="goTo(item.action)"
        >
          <v-icon>{{ item.icon }}</v-icon>
          {{ item.title }}
        </li>
      </ul>
    </v-navigation-drawer>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'MainHeader',
  data () {
    return {
      drawer: true,
      clipped: false,
      btnLogoutLoading: false,
      btnLogoutDisabled: false,
      formErrors: null,
      items: [
        {
          icon: 'person',
          action: 'profile',
          title: 'Profile'
        },
        {
          icon: 'home',
          action: 'home',
          title: 'Home'
        },
        {
          icon: 'event',
          action: 'calendar',
          title: 'Calendar'
        },
        {
          icon: 'list_alt',
          action: 'lists',
          title: 'Lists'
        },
        {
          icon: 'format_list_numbered',
          action: 'tasks',
          title: 'Tasks'
        },
        {
          icon: 'check_box',
          action: 'completed',
          title: 'Completed'
        },
        {
          icon: 'exit_to_app',
          action: 'logout',
          title: 'Logout'
        }
      ]
    }
  },
  computed: {
    ...mapGetters(
      'authentication',
      ['isAuthenticated']
    )
  },
  methods: {
    ...mapActions(
      'authentication',
      ['logout']
    ),
    goTo: function (path) {
      if (path === 'logout') {
        this.logout()
        path = 'login'
      }
      this.$router.push({ path })
    }
  }
}
</script>
<style lang="scss">
  .main-header {
    $logo_width: 70px;

    &__container {
      display: flex;
      justify-content: space-between;
      padding: 10px 26px 20px 20px;
      position: fixed;
      width: 100vw;
      z-index: 20000;
    }

    &__logo {
      width: $logo_width;

      &__container {
        position: absolute;
        background: white;
        top: -44px;
        padding: 50px 40px 3px;
        border-radius: 59px;
        left: calc(50vw - (#{$logo_width} + 80px)/2);
        box-shadow: 0 5px 9px 2px rgba(0,0,0,.12)
      }
    }
    &__calendar-trigger {

      .v-icon {
      }
    }
  }
  .drawer-menu {
    &__list {
      padding-left: 0;

      li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 13px;
        color: #555;
        padding: 10px 20px 10px 35px;

        &:last-child {
          position: fixed;
          bottom: 10px;
        }

        .v-icon {
          margin-right: 10px;
          font-size: 15px;
          width: 17px;
          opacity: .5;
        }
      }
    }

    &__profile {
      padding: 20px;
      text-align: center;

      img {
        width: 50%;
        border-radius: 50%;
      }

      h1 {
        font-weight: 500;
        font-size: 25px;
        line-height: 23px;
        margin-top: 10px;
      }

      h2 {
        font-weight: 300;
        font-size: 12px;
      }
    }
  }
  @media screen and (min-width: 768px) {
    .main-header {
      &__container {
        position: relative;
        width: 100vw;
        z-index: 20000;
      }
    }
  }
</style>
