<template>
  <v-container
    fluid
    grid-list-md
  >
    <todo-form />
    <todo-filter />
    <todo-list />
  </v-container>
</template>

<script>
import TodoForm from '../components/Todo/TodoForm'
import TodoFilter from '../components/Todo/TodoFilter'
import TodoList from '../components/Todo/TodoList'

export default {
  name: 'Home',
  components: {
    TodoForm,
    TodoFilter,
    TodoList
  }
}
</script>
