<template>
  <div class="todo-filter__container">
    <ul class="todo-filter__list">
      <li
        v-for="item in filterItems"
        :key="item.id"
        :class="isSelected(item.id)"
        v-text="item.label"
        @click="filter(item.id)"
      />
    </ul>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'TodoFilter',
  data () {
    return {
      selected: 'all',
      filterItems: [
        {
          id: 'all',
          label: 'All'
        },
        {
          id: 'today',
          label: 'Today'
        },
        {
          id: 'week',
          label: 'Week'
        },
        {
          id: 'completed',
          label: 'Completed'
        }
      ]
    }
  },
  computed: {
    ...mapGetters({
      filterBy: 'todos/filterBy'
    })
  },
  methods: {
    ...mapActions({
      filterList: 'todos/filter'
    }),
    filter: function (id) {
      this.selected = id
      this.filterList(id)
    },
    isSelected: function (item) {
      return this.selected === item ? 'todo-filter__list__item todo-filter__list__item--selected' : 'todo-filter__list__item'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  .todo-filter {
    &__container {
      position: fixed;
      top: 100px;
      width: calc(100vw - 52px);
      border-bottom: 1px solid #ddd;
      margin-bottom: 20px;
      box-shadow: 0 15px 17px -13px #CCC;
    }

    &__list {
      list-style: none;
      padding: 0;
      display: flex;

      &__item {
        font-size: 10px;
        text-transform: uppercase;
        margin: 10px 10px 0;
        padding-bottom: 5px;

        &:first-child {
          margin-left: 0;
        }

        &--selected {
          font-weight: bold;
          border-bottom: 3px solid #4169E1;
          color: #4169E1;
        }
      }
    }
  }

  @media screen and (min-height: 768px) {
    .todo-filter {
      &__container {
        position: relative;
        top: auto;
      }
    }
  }
</style>
