<template>
  <v-container
    fluid
    grid-list-md
    class="todo-list__container"
    :class="{ 'todo-list__container--empty' : !listItems.length }"
  >
    <div
    >
      <v-flex
        class="todo-list__empty-container"
        v-if="loading"
      >
        <v-progress-circular
          :width="3"
          color="red"
          indeterminate
          v-if="loading || !listItems.length"
        />
      </v-flex>

      <v-flex
        class="todo-list__list__item"
        v-for="item in listItems"
        :key="item.data.id"
        :class="'todo-list__list__item--' + item.data.status"
      >
        <div class="todo-list__list__item__status">
          <v-icon
            @click="completeTask(item)"
            v-if="item.data.status == 'done'"
            v-text="'check_circle'"
          />
          <span @click="completeTask(item)" v-else/>
        </div>
        <h4
          class="todo-list__list__item__title"
          v-text="item.data.title + '(' + item.data.priority + ')'"
          @click="editItem(item)"
        />
        <span
          class="todo-list__list__item__date"
          v-if="item.data.due_date"
          v-text="timestampToDate(item.data.due_date.seconds) "
          @click="editItem(item)"
        />
        <v-menu offset-y>
          <template v-slot:activator="{ on }">
            <v-btn
              flat
              icon
              v-on="on"
              class="todo-list__list__item__more"
            >
              <v-icon v-text="'more_vert'"/>
            </v-btn>
          </template>
          <v-list>
            <v-list-tile>
              <v-list-tile-title @click="deleteItem(item.id)">
                <v-icon v-text="'delete'" />excluir
              </v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
      </v-flex>
    </div>
  </v-container>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import moment from 'moment'

export default {
  name: 'TodoList',
  data () {
    return {
      listItems: [],
      loading: true
    }
  },
  computed: {
    ...mapGetters({
      filterBy: 'todos/filterBy',
      listTodos: 'todos/listTodos',
      currentUser: 'authentication/currentUser'
    })
  },
  watch: {
    listTodos: function (val) {
      this.filterList(val)
    },
    filterBy: function (val) {
      this.filterList(val)
    }
  },
  methods: {
    ...mapActions('todos', ['list', 'delete', 'complete', 'get']),
    deleteItem: function (id) {
      this.delete(id)
    },
    editItem: function (item) {
      this.get(item)
    },
    submit: function () {
      this.create(this.task)
    },
    swipeLeft: () => {
      console.log('swipeLeft')
    },
    timestampToDate: function (value) {
      return moment(value * 1000).format('DD/MM/YYYY HH:mm')
    },
    completeTask: async function (item) {
      const id = item.id
      const status = item.data.status === 'pending' ? 'done' : 'pending'

      await this.complete({ id, status })
    },
    filterList: function (val) {
      const list = this.listTodos
      let filteredList = []

      switch (val) {
      case 'today':
        filteredList = list.filter(item => moment(0, 'HH').diff(item.data.date, 'days') === 0)
        this.listItems = Object.assign({}, filteredList)
        break

      case 'completed':
        filteredList = list.filter(item => item.data.status === 'done')
        this.listItems = Object.assign({}, filteredList)
        break

      case 'week':
        const lastSunday = moment().clone().weekday(0)
        const nextSaturday = moment().clone().weekday(6)
        filteredList = list.filter(item => {
          return moment(item.data.date).isBetween(lastSunday, nextSaturday)
        })
        this.listItems = Object.assign({}, filteredList)
        break

      case 'all':
        this.listItems = Object.assign({}, list)
        break

      default:
        this.listItems = Object.assign({}, list)
      }
    }
  },
  async created () {
    const storeTodoList = await this.list(this.currentUser.uid)
    this.filterList(storeTodoList)
    this.loading = false
  }
}
</script>

<style lang="scss">
  .todo-list {
    &__empty-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 100px;
    }

    &__container {
      margin-top: 110px;
      height: calc(100vh - 136px);
      overflow: auto;
    }

    &__list {
      &__item {
        display: grid;
        border-radius: 5px;
        margin: 3px 0;
        padding: 10px 20px;
        background: #fff;
        grid-template-areas:
          "status title delete"
          "status date delete";
        grid-template-columns: 25px 1fr 20px;

        &--done {
          grid-template-areas: "status title delete";
          grid-template-columns: 25px 1fr 20px;
          padding: 5px 20px !important;

          .todo-list__list__item {
            &__status,
            &__title {
              opacity: 0.4;
              text-decoration: line-through;
            }

            &__date {
              display: none;
            }

            &__more {
              height: 20px;
            }
          }
        }

        &__title {
          grid-area: title;
          font-size: 14px;
          font-weight: normal;
          color: #555;
        }

        &__status {
          grid-area: status;
          .v-icon {
            font-size: 16px;
            opacity: 1;
            margin-top: 2px;
            color: green;
          }

          span {
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 8px;
            border: 2px solid #999;
            margin: 4px 0 0 2px;
          }
        }

        &__date {
          grid-area: date;
          font-size: 10px;
        }

        &__more {
          grid-area: delete;
          font-size: 10px;
          margin: 0;
        }
      }
    }
  }

  .v-list {
    padding: 0;

    &__tile__title {
      display: flex;
      align-items: center;
      color: #555;
      font-size: 12px;
      text-transform: uppercase;
      cursor: pointer;

      .v-icon {
        opacity: 0.6;
        font-size: 18px;
        margin-right: 6px;
      }
    }
  }
  .app__container.v-content .todo-list__container.container {
    padding: 10px 0 70px;
  }

  @media screen and (min-height: 768px) {
    .todo-list {
      &__container {
        margin-top: auto;
      }
    }
  }
</style>
