<template>
  <div class="todo-form__container">
    <v-btn
      fab
      @click="openModal"
      class="todo-form__btn-add primary"
    >
      <v-icon v-text="'add'" />
    </v-btn>

    <v-snackbar
      v-model="snackbar"
      multi-line
      :timeout="5000"
      bottom
      v-if="snackbarMessage"
    >
      {{ snackbarMessage }}
    </v-snackbar>

    <v-dialog
      v-model="dialog"
      width="500"
      @input="closeModal"
    >
      <v-card>
        <v-card-title
          class="headline"
          primary-title
          v-text="formTitle"
        />

        <v-card-text>
          <v-textarea
            v-model="todo.title"
            label="Eu quero..."
            @keyup.enter="submit"
            :error-count="errorMessages['title'].length"
            :error-messages="errorMessages['title']"
            rows="1"
            auto-grow
          />

          <v-textarea
            auto-grow
            @keyup.enter="submit"
            label="Deseja informar mais detalhes?"
            v-model="todo.details"
            rows="1"
            @keyup.13="submit"
          />

          <v-layout>
            <v-flex xs6>
              <datepicker
                v-model="todo.date"
                label="Quando??"
              />
            </v-flex>
            <v-flex xs5 offset-xs1>
              <timepicker
                v-model="todo.time"
                label="Que horas?"
              />
            </v-flex>
          </v-layout>
        </v-card-text>

        <v-card-actions>
          <v-btn
            color="primary"
            flat
            @click="closeModal"
            v-text="'CANCELAR'"
          />
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            flat
            @click="submit"
            v-text="'INCLUIR'"
          />
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { required } from 'vuelidate/lib/validators'

import Datepicker from '@/components/Utils/Datepicker'
import Timepicker from '@/components/Utils/Timepicker'

const dateNow = new Date().toISOString().substr(0, 10)
const hourNow = new Date().toISOString().substr(11, 5)

const isDate = dateString => (new Date(dateString)).toString() !== 'Invalid Date'

export default {
  name: 'TodoForm',
  components: {
    Datepicker,
    Timepicker
  },
  data () {
    return {
      formMode: 'create',
      snackbar: false,
      snackbarMessage: null,
      formErrors: null,
      todo: {},
      dialog: false,
      showModalCalendar: false,
      modal: false,
      errorMessages: {
        title: [],
        date: [],
        time: []
      }
    }
  },
  watch: {
    selectedTodo (val) {
      val && val.id
        ? this.formatItemToEdit(val)
        : this.setTodoBaseState()
    }
    // ['$v.todo.title.$invalid'] (val) {
    //   this.errorMessages.title = []
    //   if (val && !this.errorMessages.title.lenght) this.errorMessages.title.push('Campo obrigatório.')
    // },
    // ['$v.todo.date.$invalid'] (val) {
    //   this.errorMessages.date = []
    //   if (val && !this.errorMessages.date.lenght) this.errorMessages.date.push('Por favor, insira uma data verdadeira, que seja hoje ou qualquer dia no futuro.')
    // },
    // ['$v.todo.time.$invalid'] (val) {
    //   this.errorMessages.time = []
    //   if (val && !this.errorMessages.time.lenght) this.errorMessages.time.push('Por favor, insira uma hora válida.')
    // }
  },
  computed: {
    ...mapGetters({
      selectedTodo: 'todos/selectedTodo',
      listTodos: 'todos/listTodos',
      currentUser: 'authentication/currentUser'
    }),
    isDisabled: function () {
      return !this.$v.$invalid
    },
    formTitle: function () {
      return (this.formMode === 'create' ? 'Incluir' : 'Editar') + ' tarefa'
    }
  },
  methods: {
    ...mapActions({
      create: 'todos/create',
      update: 'todos/update',
      clearSelected: 'todos/clear'
    }),
    setTodoBaseState: function () {
      const baseTodoState = {
        title: null,
        details: null,
        date: dateNow,
        time: hourNow,
        status: 'pending'
      }
      this.todo = Object.assign({}, baseTodoState)
    },
    submit: async function () {
      this.$v.$touch()

      const todo = this.formatItemToSave()

      if (this.$v.$invalid) {
        this.showSnackbar('Por favor, preencha o título da tarefa.')
        return false
      }

      const response = this.formMode === 'create' ? await this.create(todo) : await this.update(todo)

      if (response) {
        const msg = 'WOW! Parabéns, sua tarefa foi salva!'
      } else {
        const msg = 'Ops! Ocorreu algum erro, tente novamente...'
      }
      this.showSnackbar(msg)

      this.setTodoBaseState()
      this.closeModal()
    },
    closeModal: function () {
      this.clearSelected()
      this.dialog = false
    },
    openModal: function () {
      this.$v.$reset()
      this.dialog = true
    },
    formatItemToSave: function () {
      const owner = this.currentUser.uid
      const priority = this.listTodos.length ? this.listTodos[0].data.priority + 1 : 0
      const dueDate = new Date(this.todo.date + ' ' + this.todo.time)
      const additionalDetails = { owner, priority, due_date: dueDate }
      const finalObj = { ...this.todo, ...additionalDetails }

      return finalObj
    },
    formatItemToEdit: function (item) {
      this.formMode = 'update'

      const tempTodo = {
        title: item.data.title,
        details: item.data.details,
        date: item.data.date,
        time: item.data.time
      }

      Object.assign(this.todo, tempTodo)

      this.openModal()
    },
    showSnackbar: function (message) {
      this.snackbarMessage = message
      this.snackbar = true
    },
    hideSnackbar: function () {
      this.snackbarMessage = null
      this.snackbar = false
    }
  },
  mounted () {
    this.setTodoBaseState()
  },
  validations: {
    todo: {
      title: {
        required
      },
      date: {
        required,
        isDate
      },
      time: {
        required
      }
    }
  }
}
</script>
<style lang="scss">
  .todo-form {
    &__container {
    }

    &__btn-add.v-btn.v-btn--floating {
      position: fixed;
      width: 30px;
      height: 30px;
      top: 52px;
      right: 22px;

      &::before {
        content: "add task";
        left: -69px;
        width: 58px;
        font-size: 10px;
        color: #999;
        opacity: 1;
        height: 20px;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        top: 5px;
      }

      .v-icon {
        color: white;
        font-size: 17px;
        opacity: 1;
      }
    }
  }

  .v-dialog {
    border-radius: 10px;
  }
</style>
