<template>
  <v-app>
    <main-header />
    <sub-header v-if="isAuthenticated" />

    <v-content class="app__container">
      <router-view />
    </v-content>

    <bottom-nav v-if="isAuthenticated" />
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex'

import MainHeader from './components/Layout/MainHeader'
import SubHeader from './components/Layout/SubHeader'
import BottomNav from './components/Layout/BottomNav'

export default {
  name: 'App',
  components: {
    MainHeader,
    SubHeader,
    BottomNav
  },
  computed: {
    ...mapGetters(
      'authentication',
      ['isAuthenticated']
    )
  }
}
</script>
<style lang="scss">
  .headline {
    font-weight: 200;
  }

  .app__container {
    background-color: #f6f6f6;

    &.v-content .container {
      padding: 26px;
    }
  }

  .v-icon {
    opacity: .3
  }
</style>
