<template>
  <v-dialog
    v-model="showModal"
    :close-on-content-click="false"
    full-width
    max-width="290"
  >
    <template v-slot:activator="{ on }">
      <v-text-field
        :value="formattedDate"
        clearable
        :label="label"
        readonly
        v-on="on"
      ></v-text-field>
    </template>
    <v-date-picker
      v-model="model"
      @change="hide"
    ></v-date-picker>
  </v-dialog>
</template>
<script>
import moment from 'moment'
import { UtilsMixin } from './UtilsMixin'

export default {
  name: 'Datepicker',
  mixins: [UtilsMixin],
  computed: {
    formattedDate () {
      return this.model ? moment(this.model).format('DD/MM/YYYY') : ''
    }
  }
}
</script>
