<template>
  <v-dialog
    v-model="showModal"
    :close-on-content-click="false"
    full-width
    max-width="290"
  >
    <template v-slot:activator="{ on }">
      <v-text-field
        :value="model"
        clearable
        :label="label"
        readonly
        v-on="on"
      ></v-text-field>
    </template>
    <v-time-picker
      v-model="model"
      class="mt-3"
      format="24hr"
      scrollable
      @change="hide"
    ></v-time-picker>
  </v-dialog>
</template>
<script>
import { UtilsMixin } from './UtilsMixin'

export default {
  name: 'Timepicker',
  mixins: [UtilsMixin]
}
</script>
